:root {
    --color-fg: #fff;
    --color-bg: #000;
    --color-accent-1: #242943;
    --color-accent-2: #9bf1ff;
    --color-accent-4: #53e3fb;
    --color-accent-5: #6fc3df;
    --color-accent-6: #37a6cb;
    --color-accent-7: #2e3450;
    --color-accent-8: #333856;
}
